.parent{
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 300px;
    border: 1px solid red;
    align-items:stretch;
    justify-content: center;
    
}
.child {
    width: 90px;
    border: 1px solid green;
    
    
}