.parent{
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 200px;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
}
.child {
    width: 60px;
    height: 30px;
    border: 1px solid green;
    
}