 .parent {
            position: relative;
            width: 400px;
            height: 350px;
            
            background-color: aqua;
            
            
            
            
        }
        

        .box1 {
            position: absolute;
            background-color: white;
            top: 60px;
            left: 40px;
            width: 70px;
            height: 70px;
            
            
        }
        
        .box2 {
            position: absolute;
            background-color: white;
            top: 190px;
            left: 280px;
            width: 70px;
            height: 70px;
            
            
        }