a:link,
a:visited {
    color: rgb(113, 178, 236);
    text-decoration: none;
}


a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: rgb(113, 178, 236);
    text-decoration: none;
}