 .container {
            position: relative;
            width: 200px;
            height: 200px;
            
            
        }
        
        .box {
            width: 50px;
            height: 50px;
            position: absolute; 
            border: 2px solid;
            
        }
        
        .box1 {
            border-color: red;
            top: 0;
            left: 0;
            background-color: red;
        }
        
        .box2 {
            border-color: blue;
            top: 30px;
            left: 30px;
            background-color: blue;
            
        }
        
        .box3 {
            border-color: green;
            top: 60px;
            left: 60px;
            background-color: green;
        }