 .parent {
            position: relative;
            width: 400px;
            height: 300px;
            border: 2px solid green;
            
            
            
            
        }
        

        .box1 {
            position: absolute;
            border:2px solid red;
            top: 80px;
            left: 80px;
            width: 70px;
            height: 70px;
            
            
        }
        
